.app{
    display: flex;
    gap: 2rem ;
    justify-items: center;
    padding: 2rem;
}
.counter-container {
    display: grid;
    justify-items: center;
    inline-size: 10rem;
    border: 1px solid hsl(0, 0%, 70%);
    padding: 1rem;
    border-radius: 0.5rem;


    .title {
        font-size: 24px;
        font-weight: bold;
    }

    .count {
        font-family: monospace;
        
    }

    .increment{
        text-transform: uppercase;
    }
    
    .decrement{
        text-transform: uppercase;
    }

    &.dark {
        background-color: hsl(0, 0%, 20%);
        color: hsl(0, 0%, 90%);
    }
}